@media only screen and (max-width: 768px) {
      /* md */
      .btn-title button {
            display: none !important;
      }
      .display-1 {
            font-size: 28px;
            line-height: 140%;
      }

      /* ============================================================ Digital Art: Start ============================================================ */
      .stats-sm {
            display: block;
            width: 100%;
      }
      .stats-lg {
            display: none;
      }
      .discover-digital {
            flex-wrap: wrap;
      }
      .discover-digital .cont {
            max-width: 100%;
            padding-right: 0px;
            margin-bottom: 40px;
      }
      .heading {
            margin-bottom: 10px;
      }
      .heading-button {
            margin-top: 40px;
            width: 100%;
      }
      .space-walk {
            margin: 0 auto;
      }
      /* ============================================================ Digital Art: End ============================================================ */

      /* ============================================================ Top Creators: Start ============================================================ */
      .mb-45 {
            margin-bottom: 45px;
      }
      .creators-button {
            display: block;
            width: 100%;
      }
      .creators-button button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 12px 50px;
            width: 100%;

            background-color: #2b2b2b;
            border-radius: 20px;
            border: 2px solid #a259ff;

            font-weight: 600;
            font-size: 16px;
            line-height: 22.4px;
      }
      /* ============================================================ Top Creators: End ============================================================ */

      /* ============================================================ More NFTs: Start ============================================================ */
      .NFT .details {
            padding: 20px 20px 25px 20px;
      }
      /* ============================================================ More NFTs: End ============================================================ */

      /* ============================================================ Auction: Start ============================================================ */
      .auction .see-lg {
            display: none;
      }
      .auction .see-sm {
            display: flex;
            width: 100%;
      }
      .auction .details {
            flex-wrap: wrap;
      }
      .countdown {
            margin-bottom: 30px;
      }
      /* ============================================================ Auction: End ============================================================ */

      /* ============================================================ Weekly Digest: Start ============================================================ */
      .weekly-digest {
            flex-wrap: wrap;
            background-color: rgba(0,0,0,0);
            padding: 0;
      }
      /* ============================================================ Weekly Digest: End ============================================================ */

      /* ============================================================ Create Account: Start ============================================================ */
      .sign-up {
            flex-direction: column;
      }
      .sign-up .form-sec {
            padding: 30px;
      }
      .sign-up .cover {
            max-width: 100%;
            display: block;
      }
      /* ============================================================ Create Account: End ============================================================ */

      /* ============================================================ Connect Wallet: Start ============================================================ */
      .connect-button {
            max-width: 100%;
      }
      /* ============================================================ Connect Wallet: Start ============================================================ */

      /* ============================================================ Orbitans: Start ============================================================ */
      .orbitans .orbitans-start {
            display: flex;
            gap: 20px;
            flex-direction: column;
      }
      .counter {
            margin-bottom: 20px;
      }
      .description {
            max-width: 100%;
      }
      /* ============================================================ Orbitans: Start ============================================================ */

      /* ============================================================ Rankings: Start ============================================================ */
      .content-label {
            padding: 12px 18px;
      }
      .change {
            display: none;
      }
      /* ============================================================ Rankings: End ============================================================ */
}
