@media only screen and (max-width: 576px) {
      /* sm */
      .container {
            padding: 0 30px;
      }
      .foot-container {
            padding: 40px 30px;
      }
      .dn-sm {
            display: none;
      }
      .fs-3 {
            font-size: 16px;
            font-weight: normal;
      }

      /* ============================================================ Navbar: Start ============================================================ */
      .navbar {
            padding: 0 30px;
      }
      .nav-logo .logo img:first-child {
            width: 25px;
            height: auto;
      }
      .nav-logo .logo img:last-child {
            width: 150px;
            height: auto;
      }
      /* ============================================================ Navbar: End ============================================================ */

      /* ============================================================ Digital Art: Start ============================================================ */
      .stats {
            justify-content: space-between;
            gap: 0;
      }
      /* ============================================================ Digital Art: End ============================================================ */

      /* ============================================================ More NFTs: Start ============================================================ */
      #nft3 {
            display: block;
      }
      .NFT {
            max-width: 315px;
      }
      /* ============================================================ More NFTs: End ============================================================ */

      /* ============================================================ Auction: Start ============================================================ */
      .auction {
            padding: 120px 30px 40px;
      }
      /* ============================================================ Auction: End ============================================================ */

      /* ============================================================ How it works: Start ============================================================ */
      .cards {
            flex-direction: column;
      }
      .card {
            padding: 20px;
            max-width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
      }
      .card img {
            width: 100px;
            margin-right: 20px;
      }
      .card p {
            font-size: 12px;
      }
      /* ============================================================ How it works: End ============================================================ */

      /* ============================================================ Artist Profile - Cover: Start ================================================ */
      .cover-picture {
            height: 250px;
      }
      .cover-picture .profile-picture {
            left: 50%;
            transform: translate(-50%, 50%);
      }
      /* ============================================================ Artist Profile - Cover: End ================================================ */

      /* ============================================================ Artist Profile - Details: Start ================================================ */
      .artist-detail .highlight {
            flex-direction: column;
      }
      .artist-detail .highlight h1 {
            font-size: 28px;
            line-height: 140%;
      }
      .artist-detail .highlight .buttons {
            flex-direction: column;
            width: 100%;
      }
      .artist-detail .highlight .buttons button {
            width: 100%;
      }
      /* ============================================================ Artist Profile - Details: Start ================================================ */

      /* ============================================================ Artist Page - Nav-tabs: Start ============================================================ */
      .nav-tabs .menu-item div {
            display: none;
      }
      /* ============================================================ Artist Page - Nav-tabs: End ============================================================ */

      /* ============================================================ NFT Page - Cover: Start ============================================================ */
      .nft-page-cover {
            height: 320px;
      }
      /* ============================================================ NFT Page - Cover: End ============================================================ */
}
