@media only screen and (max-width: 325px) {
      /* xs */

      .fs-4 {
            font-size: 18px !important;
            font-weight: 400;
      }
      /* ============================================================ Top Creators: Start ============================================================ */
      .creator div span.text-muted {
            font-size: 13px;
      }
      .creator div .ETH {
            font-size: 13px;
      }
      /* ============================================================ Top Creators: End ============================================================ */

      /* ============================================================ Browse Categories: Start ============================================================ */
      .categories img {
            max-width: 240px;
      }
      .categories div span {
            font-size: 22px;
      }
      /* ============================================================ Browse Categories: End ============================================================ */

      /* ============================================================ More NFTs: Start ============================================================ */
      .NFT .details {
            padding: 20px 10px 25px 10px;
      }
      /* ============================================================ More NFTs: End ============================================================ */

      /* ============================================================ Auction: Start ============================================================ */
      .auction {
            padding: 120px 10px 40px;
      }
      .auction .see-sm {
            padding: 19px;
            text-align: center;
            width: 80%;
            margin-right: auto;
      }
      .countdown {
            padding: 15px;
      }
      .countdown .count h1 {
            font-size: 30px;
      }
      /* ============================================================ Auction: End ============================================================ */

      /* ============================================================ How it works: Start ============================================================ */
      .card {
            padding: 15px;
      }
      .card img {
            width: 60px;
            margin-right: 10px;
      }
      /* ============================================================ How it works: End ============================================================ */

      /* ============================================================ Artist Profile - Details: Start ==================================================== */
      .artist-detail .stats .stat h1 {
            font-size: 20px;
      }
      .artist-detail .stats .stat p {
            font-size: 14px;
      }
      /* ============================================================ Artist Profile - Details: End ======================================================= */

      /* ============================================================ Artist Page - Nav-tabs: Start ============================================================ */
      .nav-tabs .menu-item h4 {
            font-size: 12px;
      }
      /* ============================================================ Artist Page - Nav-tabs: End ============================================================ */

      /* ============================================================ Rankings: Start ============================================================ */
      .content-label {
            padding: 19px 10px;
      }
      .person img {
            display: none;
      }
      /* ============================================================ Rankings: End ============================================================ */
}
